@font-face {
  font-family: "ButlerStencil-UltraLight";
  src: url(/wr/ButlerStencil-UltraLight.woff2)
}

@font-face {
  font-family: "Butler-UltraLight";
  src: url(/wr/Butler-UltraLight.woff2)
}

body {
	background-color: none;

	font-family: 'Butler-UltraLight';
	font-weight: 200;
    font-style: normal;
}	

h1 {
	font-family: 'ButlerStencil-UltraLight';
	margin-bottom: -1rem;
}

p2 {
	margin: -1rem 0 0 1rem;
	}

p3 {
	margin: 1rem 0;
	text-align: center;
	}	
	
	a:link {
  	text-decoration: none;
	color: black;
}

a:visited {
  	text-decoration: none;
	color: black;
}

a:hover {
  	text-decoration: none;
  	color: #adb5bd !important;
}

a:active {
  	text-decoration: none;
	color: black;
}
	
.nav	