@font-face {
  font-family: "ButlerStencil-UltraLight";
  src: url(/wr/ButlerStencil-UltraLight.woff2)
}

@font-face {
  font-family: "Butler-UltraLight";
  src: url(/wr/Butler-UltraLight.woff2)
}

body {
	background-color: none;

	font-family: 'Butler-UltraLight';
	font-weight: 200;
    font-style: normal;
}	

h1 {
	font-family: 'ButlerStencil-UltraLight';
}